version: '3.3'

services:
  rabbitmq:
    image: library/rabbitmq:3-management-alpine

  kotlin-consumer:
    build: ./kotlin-consumer
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
    depends_on:
      - rabbitmq
